[submodule "luci-app-smartdns"]
	path = luci/applications/luci-app-smartdns
	url = https://github.com/buxiaomo/luci-app-smartdns.git
[submodule "smartdns"]
	path = packages/smartdns
	url = https://github.com/pymumu/openwrt-smartdns.git
[submodule "luci-app-serverchan"]
	path = luci/applications/luci-app-serverchan
	url = https://github.com/tty228/luci-app-serverchan.git
[submodule "luci-app-apcupsd"]
	path = luci/applications/luci-app-apcupsd
	url = https://github.com/buxiaomo/luci-app-apcupsd.git
