[submodule "luci/applications/luci-app-v2ray"]
	path = luci/applications/luci-app-v2ray
	url = https://github.com/kuoruan/luci-app-v2ray.git
	branch = luci2
[submodule "openwrt-v2ray"]
	path = packages/openwrt-v2ray
	url = https://github.com/kuoruan/openwrt-v2ray.git
