[submodule "smartdns"]
	path = packages/smartdns
	url = https://github.com/pymumu/openwrt-smartdns.git
[submodule "luci-app-smartdns"]
	path = luci-app-smartdns
	url = https://github.com/buxiaomo/luci-app-smartdns.git
